$primary-color: #1c2c5c;
$secondary-color: rgb(141, 154, 154);
$light-bg-color: rgba(229, 229, 229, 0.737);

$jumbotron-height: auto;
$card-width: 300px;
$card-height: 450px;
$fuente-secundaria: "Libre Baskerville", serif;
